/* Container for the input field and button */
.mainContainer {
  width: 80%; /* To position the button inside the input field */
}

/* Search input field */
.searchInput {
  width: 95%; /* Full width of the container */
  padding: 10px; /* Add some padding for better spacing */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 4px; /* Rounded corners */
  background-repeat: no-repeat;
  background-size: 20px; /* Adjust the size of the icon */
  padding-right: 30px; /* Space for the icon */
}

.searchButton {
  display: flex;
}
