/* Footer.module.css */
@import "../../../styles/GlobalVars.css";

.mainContainer {
  min-height: 50px;
  background-color: var(--background-color);
  color: white;
}

.footerTop {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  font-weight: 500;
}

.footerBot {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.spacer {
  width: 16px;
}

.underline {
  height: 0.5px;
  background-color: white;
  margin-bottom: 4px;
  margin-top: 4px;
  width: 100px;
}

.footerLink,
.impressumLink {
  color: white;
  text-decoration: none;
  padding: 2px 0;
  width: min-content;
}

.footerLink:hover {
  color: white;
  transition: all 0.3s;
  padding-left: 15px;
}

.impressumLink:hover {
  color: #ffffff;
}

.footerBotRight {
  margin-bottom: 1%;
}

.logo {
  height: 135px;
  margin-right: 4%;
}

.links {
  margin-left: -9%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
