/* Footer.module.css */
.mainContainer {
  min-height: 50px;
  background-color: var(--background-color);
  color: white;
}

.footerTop {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  font-weight: 500;
}

.footerBot {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.spacer {
  width: 16px;
}

.footerLink,
.impressumLink,
.agbLink,
.datenschutzLink {
  color: white;
  text-decoration: none;
}

.footerLink:hover {
  color: white;
  transition: all 0.3s;
  transform: translateX(15px);
}

.impressumLink:hover {
  color: #ffffff;
}

.footerBotRight {
  margin-bottom: 1%;
}

.logoContainer {
  cursor: pointer; /* Ändert den Mauszeiger beim Überfahren des Logos */
}

.logoLink {
  text-decoration: none; /* Entfernt die Unterstreichung des Links */
}

.logo {
  height: 135px;
  margin-right: 4%;
  transition: transform 0.3s ease; /* Übergangseffekt für eine sanftere Veränderung */
}

.shrink {
  transform: scale(0.9); /* Verkleinert das Logo leicht */
}

.socialMediaLinks {
  display: flex;
  flex-direction: column;
  margin-right: 42%;
  align-items: flex-start;
  margin-top: 0;
}

.socialMediaLinks a {
  color: white;
  text-decoration: none;
}

.links a {
  color: white;
  text-decoration: none;
}

.separator {
  border: none;
  border-top: 1px solid #fff;
  width: 93%;
  margin: 0;
}

.socialMediaLinks hr {
  margin-top: -8px;
  margin-bottom: 12px;
}

.socialMediaIcons {
  font-size: 30px;
  margin-bottom: 18px;
}

.socialMediaIcon {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.socialMediaIcon:hover {
  transform: translateY(5px);
}
